
.d6 input {
  height: 90%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 1s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 2.5px;
  right: 10px;
  z-index: 2;
}
.d6 input:focus {
  color: black;
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid rgb(105, 224, 255);
}
.d6 button {
  background: #29bbff;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 2.5px;
  right: 10px;
  cursor: pointer;
  border-radius: 20%;
}
.d6 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.search-list{
  float: right;
  position: relative;
  margin: 0 auto;
}
.main-show-body{
  background:url(../img/1.jpg) ;
  height: 2200px;
  width: 100%;
}

.myname{
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0 4% 0 0;
  margin-top: 1%;
  float: right;
  height: 50px;
  position: relative;
  display: inline-block;
}

.myname::after {
  content: '';
  position: absolute;
  top: 23%;
  right: 20%;
  width: 0;
  height: 0;
  border-bottom: 7px solid rgb(0, 0, 0);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transform: rotate(-180deg);
  transition: all 0.2s;
}
.myname-span{
  color: #000000;
  font-size: 17px;
}

.myname:hover .myname-span{
  text-shadow:
   0 0 4px #ffffff;
}


.myname-dropdown{
  display: none;
  margin-top: 10px;
  border-radius:0 0 3px 3px;
  position: absolute;
  background-color: #ddddddb9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px #ddddddb9;
  padding: 12px 16px;
  min-width: 150px;
}




.myname-dropdown::after {
  content: '';
  position: absolute;
  right: 0px;
  top: -9px;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: 9px solid #ddddddb9;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.myname-dropdown a:hover{
  color: white;
  text-shadow:
  0 0 4px black;
}

.myname:hover .myname-dropdown{
  display: block;
}

.show-spot{
  padding-top: 2px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 1700px;
  background-color: rgba(128, 128, 128, 0.3);
}

.selection{
  font-size: large;
  color: #aaaaaa;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.selection::after{
    content:'';
    position:absolute;
    border-bottom:5px solid rgb(105, 224, 255);
    left:51%;
    right:51%;
    bottom:0px;
    transition: all 0.7s;
}
.selection:hover::after{
    left:0%;
    right:0%
}


.mengde,.xueshan,.liyue{
  position: relative;
  left: 5%;
  margin-top: 40px;
  height: 500px;
  width: 90%;
  
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.big-img-mengde{
  height: 90%;
  width: 90%;
  left: 2%;
  top: 5%;
  background-color: rgba(101, 237, 255, 0.8);
  border-radius: 3px 10px 3px 10px;
  box-shadow: 0 0 5px white;
}
.small-img-mengde{
  height: 90%;
  left: 6%;
  top: 5%;
  background-color: rgb(52, 231, 255,0.8);
  border-radius:10px 3px 10px 3px;
  color: white;
  text-shadow: 0 0 3px rgb(0, 0, 0);
  box-shadow: 0 0 5px white;

}

.big-img-liyue{
  height: 90%;
  width: 90%;
  left: 2%;
  top: 5%;
  background-color: rgb(201, 167, 115);
  border-radius: 10px 3px 10px 3px;
  box-shadow: 0 0 5px white;

}
.small-img-liyue{
  height: 90%;
  left: 6%;
  top: 5%;
  background-color: rgb(201, 167, 115);
  border-radius: 3px 10px 3px 10px;
  box-shadow: 0 0 5px white;

}

.small-img-div{
  width: 100%;
  height: 45%;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 3px;
}
.small-img-div-liyue{
  width: 100%;
  height: 45%;
  background-color: rgba(206, 206, 206, 0.61);
  border-radius: 4px;
  color: black;
  text-shadow: 0 0 2px white;
}


.hot-spot-div{
  margin-top: 100px;
  width: 100%;
  height: 100%;
}
.big-img-hotspot{
  height: 90%;
  width: 90%;
  left: 2%;
  top: 5%;
  background-color: rgba(255, 172, 172, 0.4);
  border-radius: 2px;
}
.small-img-hotspot{
  height: 90%;
  left: 6%;
  top: 5%;
}

.small-img-div-anbo{
  width: 100%;
  height: 45%;
  background-color: rgba(252, 215, 221, 0.8);
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 2px black;
}

.end-of-show{
  width: 100%;
    height: 3%;
    position: relative;
    background-color: #585858;
}
.footer{
    width: 100%;
    height: 7%;
    position: relative;
    background-color: black;
}



